<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="span4">
  <section>
    <h1>
      <%= gravatar_for current_user %>
      <%= current_user.name %>
    </h1>
    <p>
     School: <%= current_user.school %>
    </p>
  </section>
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(current_user) do |f| %>
        <%= render 'shared/error_messages' %>
  	<%= f.label :avadutytime_0 %>
  	<%= f.number_field :avadutytime_0 %>
  	<%= f.label :avadutytime_1 %>
  	<%= f.number_field :avadutytime_1 %>
  	<%= f.label :avadutytime_2 %>
  	<%= f.number_field :avadutytime_2 %>
  	<%= f.label :avadutytime_3 %>
  	<%= f.number_field :avadutytime_3 %>
   <div><%= f.submit "Save changes", class: "btn btn-large btn-primary" %></div>
      <% end %>
    </div>
  </div>
  <section>
  <% if current_user.admin? %>
    <% @users.each do |user| %>
      <%= form_for(user) do |f| %>
        <h2>Change Values for: <%= user.name %></h2>
        <%= f.label :ispoor %>
        <%= f.check_box :ispoor %>
        <%= f.label :position %>
        <%= f.text_field :position %>
        <%= f.label :priority %>
        <%= f.number_field :priority %>
        <div> <%= f.submit "save", class: "btn btn-small" %></div>
      <% end %>
    <% end %>
  <% end %>
  </section>
  </aside>
</div>
